<div li-block="breadbrumbs" class="margin-bottom margin-small">
                    
                    <div class="breadcrumb_component"><a href="#" class="breadcrumb-link w-inline-block"><div class="text-block-52">Shop All</div></a><div class="breadcrumb-divider w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path></svg></div><a href="#" class="breadcrumb-link w-inline-block"><div>Beverages</div></a><div class="breadcrumb-divider w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path></svg></div><a href="#" class="breadcrumb-link w-inline-block"><div>Refreshing Sparkler</div></a></div>
                    
                </div>
     {% schema %} {"name":"breadbrumbs","settings":[],"presets":[{"name":"breadbrumbs"}]} {% endschema %}