<div li-block="Product Name">
                    
                    <h1 li-object:text="product.title" class="product-page-sub-header">
{{ product.title }}
</h1>
                    
                </div>
     {% schema %} {"name":"Product Name","settings":[],"presets":[{"name":"Product Name"}]} {% endschema %}