<div li-block="product name" class="margin-bottom margin-small">
                    
                    <h1 li-object:text="product.title" class="heading-style-h3-4">
{{ product.title }}
</h1>
                    
                </div>
     {% schema %} {"name":"product name","settings":[],"presets":[{"name":"product name"}]} {% endschema %}